<% if (role=='USER'){ %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/petshoplogo.JPG"  width="50" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about"
                        >About us</a
                    >

                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/bloglist"
                        >Blog</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/selfbloglist"
                        >Your Creattions</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/colablist"
                        >Colaboration</a
                    >
                </li>
                <!-- <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/selfcolablist"
                        >Your Colab requests</a
                    >
                </li> -->
                <!-- <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/contact"
                        >Contact us</a
                    >
                </li> -->

            </ul>


            <button class="btn btn-primary">
                <a href="/logout" style="color: white; text-decoration: none"
                    >Logout</a
                >
            </button>
        </div>
    </div>
</nav>
<% } else if (role=='ADMIN'){ %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="img/petshoplogo.JPG" alt="Paperify" width="50" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        >Home</a
                    >

                
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/userlist"
                        >User List</a
                    >
                </li>



                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/bloglist"
                        >Blog List</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/colablist"
                        >Colab Requests</a
                    >
                </li>


            </ul>
            <button class="btn btn-primary">
                <a href="/logout" style="color: white; text-decoration: none"
                    >Logout</a
                >
            </button>
        </div>
    </div>
</nav>
<% } else if (role=='VET'){ %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="img/petshoplogo.JPG" alt="Paperify" width="50" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about"
                        >About us</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/bookinglist"
                        >Booking</a
                    >
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/blog"
                        >Blog</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/contact"
                        >Contact us</a
                    >
                </li>
            </ul>
            <button class="btn btn-primary">
                <a href="/logout" style="color: white; text-decoration: none"
                    >Logout</a
                >
            </button>
        </div>
    </div>
</nav>
<% } %>
